@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 61.5%;
    font-family: 'Inter', sans-serif;
}
body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    /* background:#87CEFA; */
}
nav{
    width: 100vw;
    position: fixed; 
    display: flex;
    background: #FFFF;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 20vw;
}
nav a{
    margin: 2rem;
    padding: 2rem;
    color: #000;
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main figure{
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main figure img{
    justify-content: center;
    width: 50vw;
}
main figure figcaption{
    width: 50vw;
}